.bg{
    background: url('../images/bg1.jpg');
    width: 200%;
    height: 85vh;
    background-size: 100%;
}
.form-container{
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px ;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}

.btn-space {
    margin-right: 5px;
}
